@import "tailwindcss";

:root {
  --dark: #343434;
  --cream: #F6F6F6;
  --text: #57534e;
  --text-dark: #343434;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", system-ui, sans-serif;
  --font-label: "Montserrat", sans-serif;

  font-family: var(--font-body);
  font-weight: 300;
  color: var(--text-dark);
  background: var(--cream);
}

body {
  margin: 0;
}